<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso 3</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body-curso3">
    <div class="container">
        <header>
            <h1>Domótica</h1>
        </header>
        <main>
            <img id="robotImage" class="enconstruccion" src="/Images/robot-llave-inglesa.png" alt="Robot con llave en mano">
            <p>Estamos trabajando para mejorar el sitio...</p>
            <a href="./index.html">Volver al Inicio</a>
        </main>
    </div>
    <script src="/script.js"></script>
</body>
</html>
