<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso 1</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="curso11">
    <div>
        <header>
            <h1>MECATRÓNICA</h1>
        </header>
        <main class="container5">
            <p><img src="/Images/mecatronica1.jpg" alt=""></p>
        </main>
        <main class="container5">
            <p><img src="/Images/mecatronica2.jpg" alt=""></p>
        </main>
        <main class="container5">
            <p><img src="/Images/mecatronica3.jpg" alt=""></p>
        </main>
        <main class="container5">
            <p><img src="/Images/mecatronica4.jpg" alt=""></p>
        </main>
    </div>
    <div><strong><h3><a href="./index.html">Volver al Inicio</a></h3></strong></div>
</body>
</html>
